systemLog:
  destination: file
  path: "/tmp/mongod.log"
  logAppend: false  # This ensures the log file is overwritten instead of appended

storage:
  dbPath: "/mnt/phenocart-work/prr000/MongoDBData/Data"

net:
  port: 27018
  bindIp: 127.0.0.1  # Restrict MongoDB to listen only on localhost

security:
  authorization: "enabled"
